.account-page {
  .account-nav {
    display: flex;
    justify-content: center;
    gap: 0 50px;
    align-self: flex-start;
    padding: 10px 0;
    margin: 0 auto 50px;
    z-index: 100;
    max-width: 800px;

    @include breakpoint-max(md) {
      top: 60px;
    }

    background-color: $black;

    p {
      font-size: 16px;
      cursor: pointer;

      @include breakpoint-max(sm) {
        font-size: 12px;
      }

      &.active {
        &::after {
          width: 100%;
        }
      }
    }
  }

  .account-settings-container {
    max-width: 800px;
    margin: 0 auto;

    .setting-box {
      background-color: $black;
      border-radius: 4px;
      padding: 20px 30px;
      margin: 50px 0;

      .setting-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $white;
        padding-bottom: 20px;
        margin-bottom: 30px;

        h4,
        p {
          margin: 0;
        }
      }

      .content {
        &.card-content .content-container {
          display: flex;
          flex-wrap: wrap;
          gap: 30px;
          justify-content: space-between;
          position: relative;

          p.animate-bottom {
            display: inline-block;
            margin-left: auto;
            margin-bottom: 0;
          }

          .card-container {
            background-color: $grey;
            border-radius: 20px;
            display: inline-block;
            padding: 20px 30px;
            display: flex;
            flex-direction: column;
            gap: 20px 0;
            width: calc(50% - 30px);
            align-items: baseline;

            p {
              &:not(.sm) {
                font-size: 12px;
              }
            }

            @include breakpoint-max(sm) {
              width: 100%;
            }

            .holder-date {
              display: flex;
              justify-content: space-between;
              width: 100%;
            }
          }
        }

        p.sm {
          font-size: 14px;
          margin: 0 0 5px;
        }

        p {
          margin-top: 0;
        }
      }
    }
  }
}
