.product-page {
  display: flex;
  flex-wrap: wrap;
  gap: 0 50px;

  @include breakpoint-max(xl) {
    gap: 0 30px;
  }

  @include breakpoint-max(lg) {
    gap: 30px 0;
    flex-direction: column;
  }

  h1 {
    margin: 0 0 30px;
    line-height: 1;
  }

  .skeleton {
    height: auto;
  }

  .product-images {
    width: 60%;
    overflow: hidden;
    position: relative;
    height: 700px;

    @include breakpoint-max(lg) {
      width: 100%;
      height: 350px;
    }

    .image-carousel {
      transition: all 0.3s ease-out;
      display: flex;
      height: 100%;
      backface-visibility: hidden;
      position: relative;

      .image-container {
        width: 100%;
        position: relative;

        .overlay {
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          background-color: $gray;
          position: absolute;
          opacity: 0.1;
        }
      }
    }

    .images-navigator {
      position: absolute;
      display: flex;
      flex-direction: row;
      gap: 0 20px;
      left: 50%;
      bottom: 20px;
      transform: translateX(-50%);

      .navigator {
        cursor: pointer;
        width: 70px;
        height: 10px;
        border: 2px solid $white;
        border-radius: 4px;
        z-index: 100;

        @include breakpoint-max(sm) {
          width: 50px;
        }

        &.active {
          background-color: $white;
        }
      }
    }
  }

  .product-details {
    width: 35%;

    @include breakpoint-max(lg) {
      width: 100%;
    }

    .react-loading-skeleton {
      margin: 8px 0;
    }

    .specification {
      h2 {
        margin: 16px 0 20px;
      }

      p {
        text-transform: capitalize;
      }
    }

    .size {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      margin-bottom: 30px;

      .single-size {
        padding: 15px 25px;
        background-color: $white;
        color: $black;
        border-radius: 4px;
        cursor: pointer;
        transition: 0.3s ease-out;

        @include breakpoint-max(sm) {
          padding: 10px 25px;
        }

        &.oos {
          background-color: $grey;
          cursor: not-allowed;
        }

        &.active {
          background-color: $aqua;
        }
      }
    }

    button {
      margin-top: 22px;
      padding: 16px 100px;

      @include breakpoint-max(lg) {
        width: 100%;
      }
    }
  }
}
